@page "/admin/UrlNamePlaceholder/edit/{EntityNamePlaceholderId:guid}"
@rendermode InteractiveServer
@implements IDisposable
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager Navigation
@inject IPageHelper PageHelper
@inject EditSuccess EditSuccessState

<PageTitle>HumanNamePlaceholder Edit</PageTitle>

@if (EntityNamePlaceholder is null && !Busy)
{
    <p>Could not find HumanNamePlaceholder with id @EntityNamePlaceholderId.</p>
}
else
{
    <EntityNamePlaceholderForm Busy="Busy" 
                 EntityNamePlaceholder="EntityNamePlaceholder" 
                 DbEntityNamePlaceholder="DbEntityNamePlaceholder" 
                 IsAdd="false" 
                 CancelRequest="Cancel" 
                 ValidationResult="@(async (success) => await ValidationResultAsync(success))" />
}

@if (ConcurrencyError)
{
    <br />
    <div class="alert alert-danger">
        <p>
            The HumanNamePlaceholder details have changed since it was last loaded. The updated fields are highlighted in the form.
            Please choose an option:
        </p>
        <p><b>Cancel</b> to lose your changes and keep the database version.</p>
        <p><b>Submit</b> to force an update with your version.</p>
    </div>
}

@if (Error)
{
    <br />
    <div class="alert alert-danger">Failed to update the HumanNamePlaceholder (@ErrorMessage).</div>
}

@code {
    [Parameter]
    public Guid EntityNamePlaceholderId { get; set; }

    private ApplicationDbContext? Context { get; set; }

    private EntityNamePlaceholder EntityNamePlaceholder { get; set; } = new EntityNamePlaceholder();

    private EntityNamePlaceholder DbEntityNamePlaceholder { get; set; } = new EntityNamePlaceholder();

    private bool Busy;

    private bool Error;

    private bool ConcurrencyError;

    private string ErrorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Busy = true;

        try
        {
            Context = DbFactory.CreateDbContext();

            if (Context is not null && Context.TableNamePlaceholder is not null)
            {
                var LowercaseNamePlaceholder = await Context.TableNamePlaceholder.SingleOrDefaultAsync(x => x.Id == EntityNamePlaceholderId);

                if (LowercaseNamePlaceholder is not null)
                {
                    EntityNamePlaceholder = LowercaseNamePlaceholder;
                }
            }
        }
        finally
        {
            Busy = false;
        }
    }

    private async Task ValidationResultAsync(bool success)
    {
        if (Busy)
        {
            return;
        }

        if (!success)
        {
            Error = false;
            ConcurrencyError = false;
            return;
        }

        Busy = true;
        try
        {
            if (Context is not null)
            {
                await Context.SaveChangesAsync();
            }

            EditSuccessState.Success = true;
            Navigation.NavigateTo($"/admin/UrlNamePlaceholder/view/{EntityNamePlaceholder.Id}");
        }
        catch (DbUpdateConcurrencyException dbex)
        {
            EditSuccessState.Success = false;

            ConcurrencyError = true;

            var dbValues = dbex.Entries[0].GetDatabaseValues();

            if (dbValues is null)
            {
                Navigation.NavigateTo($"/admin/UrlNamePlaceholder/view/{EntityNamePlaceholder.Id}");
                return;
            }

            DbEntityNamePlaceholder = (EntityNamePlaceholder)dbValues.ToObject();

            dbex.Entries[0].OriginalValues.SetValues(dbValues);
            Error = false;
            Busy = false;
        }
        catch (Exception ex)
        {
            EditSuccessState.Success = false;
            Error = true;
            ErrorMessage = ex.Message;
            Busy = false;
        }
    }

    private void Cancel()
    {
        Busy = true;
        Navigation.NavigateTo($"/admin/UrlNamePlaceholder/{PageHelper.Page}");
    }

    public void Dispose() => Context?.Dispose();
}
