@inject IEntityNamePlaceholderFilters Filters

@if (CurrentEntityNamePlaceholder is not null)
{
    <div class="row contact-detail">
        <div class="col-2 text-right">
            <a title="Edit" href="admin/UrlNamePlaceholder/edit/@CurrentEntityNamePlaceholder.Id" style="text-decoration:none">
                &nbsp;📝&nbsp;
            </a>
            @if (CanDelete)
            {
                <span @onclick="DeleteRequestAsync"
                      title="Delete" class="clickable red">❌</span>
            }
            else
            {
                <span>&nbsp;</span>
            }
            &nbsp;
        </div>

        <div class="col-3">
            <a href="@ViewLink" alt="View Details"
               title="View Details">
                @CurrentEntityNamePlaceholder.DefaultFilterNamePlaceholder
            </a>
        </div>

        @if (!DeleteConfirmation)
        {
            @* RowColumnCodePlaceholder *@
            @* <div class="col-3">@CurrentApplicationUser.PhoneNumber</div> *@
        }
        else
        {
            <div class="col-9">
                <DeletePrompt Confirmation="ConfirmAsync" />
            </div>
        }
    </div>
}

@code {
    private EntityNamePlaceholder _currentEntityNamePlaceholder = new EntityNamePlaceholder();

    // EntityNamePlaceholder being rendered.
    [Parameter]
    public EntityNamePlaceholder CurrentEntityNamePlaceholder
    {
        get => _currentEntityNamePlaceholder;
        set
        {
            if (value is not null && !value.Equals(_currentEntityNamePlaceholder))
            {
                _currentEntityNamePlaceholder = value;
                DeleteConfirmation = false;
            }
        }
    }

    // Event to raise when a contact delete is requested.
    [Parameter]
    public EventCallback DeleteEntityNamePlaceholder { get; set; }

    // Overall wrapper of functionality.
    [CascadingParameter]
    public GridWrapper? Wrapper { get; set; }

    // Returns True if conditions for delete are met.
    private bool CanDelete =>
        !DeleteConfirmation && (Wrapper?.DeleteRequestId.Equals(Guid.Empty) == true || Wrapper?.DeleteRequestId.Equals(CurrentEntityNamePlaceholder?.Id) == true);

    // Navigate to view.
    private string ViewLink => $"admin/UrlNamePlaceholder/view/{CurrentEntityNamePlaceholder?.Id}";

    // Confirm the delete.
    private bool DeleteConfirmation { get; set; }

    // Called based on confirmation.
    // confirmed: True when confirmed.
    private async Task ConfirmAsync(bool confirmed)
    {
        if (confirmed)
        {
            await DeleteAsync();
        }
        else
        {
            DeleteConfirmation = false;

            if (Wrapper is not null)
            {
                await Wrapper.DeleteRequested.InvokeAsync(Guid.Empty);
            }
        }
    }

    /// Set delete to true.
    private async Task DeleteRequestAsync()
    {
        if (Wrapper?.DeleteRequestId.Equals(Guid.Empty) == true)
        {
            DeleteConfirmation = true;
            await Wrapper.DeleteRequested.InvokeAsync(CurrentEntityNamePlaceholder.Id);
        }
    }

    // Deletes the EntityNamePlaceholder.
    private Task DeleteAsync() => DeleteEntityNamePlaceholder.InvokeAsync(this);
}
