@inject IApplicationRoleFilters Filters

@if (CurrentApplicationRole is not null)
{
    <div class="row applicationRole-detail">
        <div class="col-2 text-right">
            <a title="Edit" href="admin/application-role/edit/@CurrentApplicationRole.Id" style="text-decoration:none">
                &nbsp;📝&nbsp;
            </a>
            @if (CanDelete)
            {
                <span @onclick="DeleteRequestAsync"
                      title="Delete" class="clickable red">❌</span>
            }
            else
            {
                <span>&nbsp;</span>
            }
            &nbsp;
        </div>
        <div class="col-3">
            <a href="admin/application-role/@ViewLink" alt="View Details"
               title="View Details">
                @CurrentApplicationRole.Name
            </a>
        </div>
        @if (!DeleteConfirmation)
        {
            <div class="col-3" data-testid="applicationRoleId">@CurrentApplicationRole.Id</div>
            <div class="col-3">@CurrentApplicationRole.Name</div>
        }
        else
        {
            <div class="col-9">
                <DeletePrompt Confirmation="ConfirmAsync" />
            </div>
        }
    </div>
}

@code {
    private ApplicationRole _currentApplicationRole = new ApplicationRole();

    [Parameter]
    public ApplicationRole CurrentApplicationRole
    {
        get => _currentApplicationRole;
        set
        {
            if (value is not null && !value.Equals(_currentApplicationRole))
            {
                _currentApplicationRole = value;
                DeleteConfirmation = false;
            }
        }
    }

    [Parameter]
    public EventCallback DeleteApplicationRole { get; set; }

    [CascadingParameter]
    public GridWrapper? Wrapper { get; set; }

    private bool CanDelete =>
        !DeleteConfirmation && (Wrapper?.DeleteRequestId.Equals(Guid.Empty) == true || Wrapper?.DeleteRequestId.Equals(CurrentApplicationRole?.Id) == true);

    private string ViewLink => $"View/{CurrentApplicationRole?.Id}";

    private bool DeleteConfirmation { get; set; }

    private async Task ConfirmAsync(bool confirmed)
    {
        if (confirmed)
        {
            await DeleteAsync();
        }
        else
        {
            DeleteConfirmation = false;

            if (Wrapper is not null)
            {
                await Wrapper.DeleteRequested.InvokeAsync(Guid.Empty);
            }
        }
    }

    private async Task DeleteRequestAsync()
    {
        if (Wrapper?.DeleteRequestId.Equals(Guid.Empty) == true)
        {
            DeleteConfirmation = true;
            await Wrapper.DeleteRequested.InvokeAsync(CurrentApplicationRole.Id);
        }
    }

    private Task DeleteAsync() => DeleteApplicationRole.InvokeAsync(this);
}
