<h1>@Mode ApplicationRole</h1>

<hr />
@if (ApplicationRole is not null)
{
    <EditForm Model="ApplicationRole"
              OnInvalidSubmit="(async () => await HandleSubmitAsync(false))"
              OnValidSubmit="(async () => await HandleSubmitAsync(true))">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <h2>Name</h2>
        <p>
            <label>
                Name:
                <InputText @bind-Value="ApplicationRole.Name" />
                <ConcurrencyField Model="ApplicationRole"
                                  DbModel="DbApplicationRole"
                                  Property="obj => obj?.Name" />
            </label>
        </p>
        <br />
        <button type="button" disabled="@Busy" class="btn btn-warning" @onclick="CancelAsync">
            Cancel
        </button>&nbsp;
        <button disabled="@Busy" type="submit" class="btn btn-primary">
            Submit
        </button>
    </EditForm>
}

@code {
    // Let parent handle result of validation.
    [Parameter]
    public EventCallback<bool> ValidationResult { get; set; }

    // Let parent handle what to do on cancel.
    [Parameter]
    public EventCallback CancelRequest { get; set; }

    // True if add mode.
    [Parameter]
    public bool IsAdd { get; set; }

    // The ApplicationRole to upsert.
    [Parameter]
    public ApplicationRole? ApplicationRole { get; set; }

    // The database version of ApplicationRole if a concurrency issue.
    [Parameter]
    public ApplicationRole? DbApplicationRole { get; set; }

    // Prevent multiple asynchronous operations at the same time.
    [Parameter]
    public bool Busy { get; set; }

    // Mode.
    private string Mode => IsAdd ? "Add" : "Edit";

    // Ask to cancel.
    private async Task CancelAsync() => await CancelRequest.InvokeAsync(null);

    // Handle form submission request.
    // isValid: True when field validation passed.
    private async Task HandleSubmitAsync(bool isValid) => await ValidationResult.InvokeAsync(isValid);
}
