@page "/admin/application-user/edit/{ApplicationUserId:guid}"
@rendermode InteractiveServer
@implements IDisposable
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager Navigation
@inject IPageHelper PageHelper
@inject EditSuccess EditSuccessState

<PageTitle>Application User Edit</PageTitle>

@if (ApplicationUser is null && !Busy)
{
    <p>Could not find Application User with id @ApplicationUserId.</p>
}
else
{
    <ApplicationUserForm Busy="Busy" 
                 ApplicationUser="ApplicationUser" 
                 DbApplicationUser="DbApplicationUser" 
                 IsAdd="false" 
                 CancelRequest="Cancel" 
                 ValidationResult="@(async (success) => await ValidationResultAsync(success))" />
}
@if (ConcurrencyError)
{
    <br />
    <div class="alert alert-danger">
        <p>
            The Application User details have changed since it was last loaded. The updated fields are highlighted in the form.
            Please choose an option:
        </p>
        <p><b>Cancel</b> to lose your changes and keep the database version.</p>
        <p><b>Submit</b> to force an update with your version.</p>
    </div>
}
@if (Error)
{
    <br />
    <div class="alert alert-danger">Failed to update the Application User (@ErrorMessage).</div>
}

@code {
    [Parameter]
    public Guid ApplicationUserId { get; set; }

    private ApplicationDbContext? Context { get; set; }

    private ApplicationUser ApplicationUser { get; set; } = new ApplicationUser();

    private ApplicationUser DbApplicationUser { get; set; } = new ApplicationUser();

    private bool Busy;

    private bool Error;

    private bool ConcurrencyError;

    private string ErrorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Busy = true;

        try
        {
            Context = DbFactory.CreateDbContext();

            if (Context is not null && Context.Users is not null)
            {
                var applicationUser = await Context.Users.SingleOrDefaultAsync(x => x.Id == ApplicationUserId);

                if (applicationUser is not null)
                {
                    ApplicationUser = applicationUser;
                }
            }
        }
        finally
        {
            Busy = false;
        }
    }

    private async Task ValidationResultAsync(bool success)
    {
        if (Busy)
        {
            return;
        }

        if (!success)
        {
            Error = false;
            ConcurrencyError = false;
            return;
        }

        Busy = true;
        try
        {
            if (Context is not null)
            {
                await Context.SaveChangesAsync();
            }

            EditSuccessState.Success = true;
            Navigation.NavigateTo($"/admin/application-user/view/{ApplicationUser.Id}");
        }
        catch (DbUpdateConcurrencyException dbex)
        {
            EditSuccessState.Success = false;

            ConcurrencyError = true;

            var dbValues = dbex.Entries[0].GetDatabaseValues();

            if (dbValues is null)
            {
                Navigation.NavigateTo($"/admin/application-user/view/{ApplicationUser.Id}");
                return;
            }

            DbApplicationUser = (ApplicationUser)dbValues.ToObject();

            dbex.Entries[0].OriginalValues.SetValues(dbValues);
            Error = false;
            Busy = false;
        }
        catch (Exception ex)
        {
            EditSuccessState.Success = false;
            Error = true;
            ErrorMessage = ex.Message;
            Busy = false;
        }
    }

    private void Cancel()
    {
        Busy = true;
        Navigation.NavigateTo($"/admin/application-user/{PageHelper.Page}");
    }

    public void Dispose() => Context?.Dispose();
}
