@page "/admin/to-do-list-edit/{id:guid?}"
@rendermode InteractiveAuto
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject NavigationManager NavigationManager
@inject IToDoListAdminRepository ToDoListAdminRepository
@attribute [Authorize(Roles = "Admin")]

@* InjectionCodePlaceholder *@
@* @inject IToDoListAdminRepository ToDoListAdminRepository *@

  @if (Id.Equals(Guid.Empty))
  {
    <PageTitle>To Do List Creation</PageTitle>
  }
  else
  {
    <PageTitle>To Do List Modification</PageTitle>
  }

<section>
  @if (Id.Equals(Guid.Empty))
  {
    <h1>To Do List Creation</h1>
  }
  else
  {
    <h1>To Do List Modification</h1>
  }
  <article>
    <EditForm class="container" Model="toDoListAdminEditVm" OnValidSubmit="HandleSubmit">
      <DataAnnotationsValidator />
      <ValidationSummary class="text-danger" />

      <div class="row">
        <div class="col">
          <label>
            Title:
            <InputText @bind-Value="toDoListAdminEditVm.Title" data-testid="toDoListAdminEditTitle" />
          </label>          <ValidationMessage For="() => toDoListAdminEditVm.Title" />

        </div>
      </div>
      @* EditRowCodePlaceholder *@

      <div class="row">
        <div class="col">
          @if (!Id.Equals(Guid.Empty))
          {
            <button @onclick="Remove" type="button" class="btn btn-danger">Remove</button>
          }
        </div>
        <div class="col">
          <a href="/admin/to-do-list-list">Cancel</a>
          @if (Id.Equals(Guid.Empty))
          {
            <button type="submit" class="btn btn-primary">Create</button>
          }
          else
          {
            <button type="submit" class="btn btn-primary">Modify</button>
          }
         </div>
      </div>
    </EditForm>
  </article>
</section>

@code {
  [Parameter]
  public Guid Id { get; set; }
  ToDoListAdminEditVm toDoListAdminEditVm { get; set; } = new ToDoListAdminEditVm();

  @* ListDeclarationCodePlaceholder *@

  protected override async Task OnInitializedAsync()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    await base.OnInitializedAsync();

    @* OnInitializedCodePlaceholder *@
  }

  protected override async Task OnParametersSetAsync()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    if (Id.Equals(Guid.Empty))
    {
      return;
    }

    var databaseToDoListAdminDto = await ToDoListAdminRepository.GetByIdAsync(userName, Id);

    if (databaseToDoListAdminDto == null)
    {
      toDoListAdminEditVm = new ToDoListAdminEditVm();
    }
    else
    {
      toDoListAdminEditVm = ToDoListAdminEditVm.FromToDoListAdminDto(databaseToDoListAdminDto);
    }
  }

  async Task HandleSubmit()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    @* RequiredPropertyPlaceholder *@

    var toDoListAdminDto = ToDoListAdminEditVm.ToToDoListAdminDto(toDoListAdminEditVm);
    toDoListAdminDto.ApplicationUserName = userName;

    if (Id.Equals(Guid.Empty))
    {
      var newToDoListAdminDto = await ToDoListAdminRepository.AddAsync(toDoListAdminDto);

      if (newToDoListAdminDto == null)
      {
        return;
      }

      NavigationManager.NavigateTo($"/admin/to-do-list-edit/{newToDoListAdminDto.Id}");
    }
    else
    {
      await ToDoListAdminRepository.EditAsync(toDoListAdminDto);
    }
  }

  async Task Remove()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name!;

    if (userName == null)
    {
      return;
    }

    if (Id.Equals(Guid.Empty))
    {
      return;
    }

    await ToDoListAdminRepository.DeleteAsync(userName, Id);
    NavigationManager.NavigateTo($"/admin/to-do-list-list");
  }

  @* OnChangeCodePlaceholder *@
}
