@page "/admin/UrlNamePlaceholder-edit"
@page "/admin/UrlNamePlaceholder-edit/{id}"
@inject IToDoItemAdminService ToDoItemAdminService
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject NavigationManager NavigationManager
@rendermode InteractiveAuto

<section>
    @if (Id == null)
    {
        <h1>HumanNamePlaceholder Role</h1>
    }
    else
    {
        <h1>Edit HumanNamePlaceholder</h1>
    }
    <article>
        <EditForm class="container" Model="LowercaseNamePlaceholder" OnSubmit="HandleSubmit">
            @* <div class="row">
                <div class="col">
                    <label>
                        PropertyNamePlaceholder:
                        <InputText @bind-Value="LowercaseNamePlaceholder.PropertyNamePlaceholder">@LowercaseNamePlaceholder.PropertyNamePlaceholder</InputText>
                    </label>
                </div>
            </div> *@
            <div class="row">
                <div class="col">
                    @if (Id != null)
                    {
                        <button @onclick="Delete" type="button" class="btn btn-danger">Delete</button>
                    }
                </div>
                <div class="col">
                    <a href="/admin/UrlNamePlaceholder-list">Cancel</a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </EditForm>
    </article>
</section>

@code {
    [Parameter]
    public string? Id { get; set; }
    ToDoItem LowercaseNamePlaceholder { get; set; } = new ToDoItem();

    protected override async Task OnParametersSetAsync()
    {
        if (Id == null)
        {
            return;
        }

        var result = await ToDoItemAdminService.GetByIdAsync(Id);

        if (result == null)
        {
            LowercaseNamePlaceholder = new ToDoItem();
        }
        else
        {
            LowercaseNamePlaceholder = result;
        }
    }

    async Task HandleSubmit()
    {
        var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var userName = authState.User.Identity?.Name;

        if (userName == null)
        {
            return;
        }

        if (userName == null)
        {
            return;
        }

        if (LowercaseNamePlaceholder == null)
        {
            return;
        }

        if (Id == null)
        {
            var dbToDoItem = await ToDoItemAdminService.AddAsync(userName, LowercaseNamePlaceholder);

            if (dbToDoItem == null)
            {
                return;
            }

            NavigationManager.NavigateTo($"/admin/UrlNamePlaceholder-edit/{dbToDoItem.Id}");
        }
        else
        {
            await ToDoItemAdminService.EditAsync(userName, (string)Id, LowercaseNamePlaceholder);
        }
    }

    async Task Delete()
    {
        if (Id == null)
        {
            return;
        }

        var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var userName = authState.User.Identity?.Name!;

        if (userName == null)
        {
            return;
        }

        await ToDoItemAdminService.DeleteAsync(userName, Id);
        NavigationManager.NavigateTo($"/admin/UrlNamePlaceholder-list");
    }
}
