@page "/admin/to-do-item-edit/{id:guid?}"
@rendermode InteractiveAuto
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject NavigationManager NavigationManager
@inject IToDoItemAdminRepository ToDoItemAdminRepository
@attribute [Authorize(Roles = "Admin")]

@inject IToDoListAdminRepository ToDoListAdminRepository
@* InjectionCodePlaceholder *@
@* @inject IToDoListAdminRepository ToDoListAdminRepository *@

  @if (Id.Equals(Guid.Empty))
  {
    <PageTitle>To Do Item Creation</PageTitle>
  }
  else
  {
    <PageTitle>To Do Item Modification</PageTitle>
  }

<section>
  @if (Id.Equals(Guid.Empty))
  {
    <h1>To Do Item Creation</h1>
  }
  else
  {
    <h1>To Do Item Modification</h1>
  }
  <article>
    <EditForm class="container" Model="toDoItemAdminEditViewModel" OnSubmit="HandleSubmit">
      <DataAnnotationsValidator />
      <ValidationSummary class="text-danger" />

      <div class="row">
        <div class="col">
          <label>
            IsCompleted:
            <InputCheckbox @bind-Value="toDoItemAdminEditViewModel.IsCompleted" data-testid="toDoItemAdminEditIsCompleted" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>
            Ordering:
            <InputNumber @bind-Value="toDoItemAdminEditViewModel.Ordering" data-testid="toDoItemAdminEditOrdering" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>
            To Do List:
            <select @onchange="ToDoListOnChange">
              <option>Select to do list...</option>
                @if (toDoListAdminDtos != null)
                {
                  @foreach (var toDoList in toDoListAdminDtos)
                  {
                    if (toDoItemAdminEditViewModel.ToDoList != null && toDoItemAdminEditViewModel.ToDoList.Id.Equals(toDoList.Id))
                    {
                      <option value="@toDoList.Id" selected>@toDoList?.Title</option>
                    }
                    else
                    {
                      <option value="@toDoList.Id">@toDoList?.Title</option>
                    }
                  }
                }
              </select>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>
            Title:
            <InputText @bind-Value="toDoItemAdminEditViewModel.Title" data-testid="toDoItemAdminEditTitle" />
          </label>
        </div>
      </div>
      @* EditRowCodePlaceholder *@

      <div class="row">
        <div class="col">
          @if (!Id.Equals(Guid.Empty))
          {
            <button @onclick="Remove" type="button" class="btn btn-danger">Remove</button>
          }
        </div>
        <div class="col">
          <a href="/admin/to-do-item-list">Cancel</a>
          @if (Id.Equals(Guid.Empty))
          {
            <button type="submit" class="btn btn-primary">Create</button>
          }
          else
          {
            <button type="submit" class="btn btn-primary">Modify</button>
          }
         </div>
      </div>
    </EditForm>
  </article>
</section>

@code {
  [Parameter]
  public Guid Id { get; set; }
  ToDoItemAdminEditViewModel toDoItemAdminEditViewModel { get; set; } = new ToDoItemAdminEditViewModel();

  List<ToDoListAdminDto> toDoListAdminDtos { get; set; } = [];
    @* ListDeclarationCodePlaceholder *@

  protected override async Task OnInitializedAsync()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    await base.OnInitializedAsync();

    var toDoListAdminDtosResult = await ToDoListAdminRepository.GetAllAsync(userName);
        if (toDoListAdminDtosResult != null)
        {
            toDoListAdminDtos = toDoListAdminDtosResult;
        }
        @* OnInitializedCodePlaceholder *@
  }

  protected override async Task OnParametersSetAsync()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    if (Id.Equals(Guid.Empty))
    {
      return;
    }

    var databaseToDoItemAdminDto = await ToDoItemAdminRepository.GetByIdAsync(userName, Id);

    if (databaseToDoItemAdminDto == null)
    {
      toDoItemAdminEditViewModel = new ToDoItemAdminEditViewModel();
    }
    else
    {
      toDoItemAdminEditViewModel = ToDoItemAdminEditViewModel.FromToDoItemAdminDto(databaseToDoItemAdminDto);
    }
  }

  async Task HandleSubmit()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    @* RequiredPropertyPlaceholder *@

    var toDoItemAdminDto = ToDoItemAdminEditViewModel.ToToDoItemAdminDto(toDoItemAdminEditViewModel);
    toDoItemAdminDto.ApplicationUserName = userName;

    if (Id.Equals(Guid.Empty))
    {
      var newToDoItemAdminDto = await ToDoItemAdminRepository.AddAsync(toDoItemAdminDto);

      if (newToDoItemAdminDto == null)
      {
        return;
      }

      NavigationManager.NavigateTo($"/admin/to-do-item-edit/{newToDoItemAdminDto.Id}");
    }
    else
    {
      await ToDoItemAdminRepository.EditAsync(toDoItemAdminDto);
    }
  }

  async Task Remove()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name!;

    if (userName == null)
    {
      return;
    }

    if (Id.Equals(Guid.Empty))
    {
      return;
    }

    await ToDoItemAdminRepository.DeleteAsync(userName, Id);
    NavigationManager.NavigateTo($"/admin/to-do-item-list");
  }

  void ToDoListOnChange(ChangeEventArgs args)
    {
        if (args.Value == null)
        {
            return;
        }

        var id = (string)args.Value;
        toDoItemAdminEditViewModel.ToDoList = ToDoListAdminDto.ToToDoList(null, toDoListAdminDtos?.Where(x => x.Id.ToString().Equals(id)).FirstOrDefault());
    }

    @* OnChangeCodePlaceholder *@
}
