@page "/admin/to-do-item-edit"
@page "/admin/to-do-item-edit/{id:guid}"
@rendermode InteractiveAuto
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject NavigationManager NavigationManager
@inject IToDoItemAdminService ToDoItemAdminService

@inject IToDoListAdminService ToDoListAdminService
@* InjectionCodePlaceholder *@

<section>
    @if (Id.Equals(Guid.Empty))
    {
        <h1>Create To Do Item</h1>
    }
    else
    {
        <h1>Edit To Do Item</h1>
    }
    <article>
        <EditForm class="container" Model="toDoItemAdminEditModel" OnSubmit="HandleSubmit">

            <div class="row">
                <div class="col">
                    <label>
                        To Do List:
                        <select @onchange="ToDoListOnChange">
                            <option>Select to Do List...</option>
                            @foreach (var toDoList in toDoListList)
                            {
                                if (toDoItemAdminDataTransferObject.ToDoList == null ? false : toDoItemAdminDataTransferObject.ToDoList.Id.Equals(toDoList.Id))
                                {
                                    <option value="@toDoList.Id" selected>@toDoList.Title</option>
                                }
                                else
                                {
                                    <option value="@toDoList.Id">@toDoList.Title</option>
                                }
                            }
                        </select>
                    </label>
                </div>
            </div>
            @* EditRowCodePlaceholder *@

            <div class="row">
                <div class="col">
                    @if (!Id.Equals(Guid.Empty))
                    {
                        <button @onclick="Delete" type="button" class="btn btn-danger">Delete</button>
                    }
                </div>
                <div class="col">
                    <a href="/admin/to-do-item-list">Cancel</a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </EditForm>
    </article>
</section>

@code {
    [Parameter]
    public Guid Id { get; set; }
    ToDoItemAdminEditModel toDoItemAdminEditModel { get; set; } = new ToDoItemAdminEditModel();

    @* ListDeclarationCodePlaceholder *@

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        @* OnInitializedCodePlaceholder *@
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Id.Equals(Guid.Empty))
        {
            return;
        }

        var databaseToDoItemAdminDataTransferObject = await ToDoItemAdminService.GetByIdAsync(Id);

        if (databaseToDoItemAdminDataTransferObject == null)
        {
            toDoItemAdminEditModel = new ToDoItemAdminEditModel();
        }
        else
        {
            toDoItemAdminEditModel = ToDoItemAdminEditModel.FromToDoItemAdminDataTransferObject(databaseToDoItemAdminDataTransferObject);
        }
    }

    async Task HandleSubmit()
    {
        var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var userName = authState.User.Identity?.Name;

        if (userName == null)
        {
            return;
        }

        @* if (string.IsNullOrWhiteSpace(toDoItemAdminEditModel.Name))
        {
            return;
        } *@

        var toDoItemAdminDataTransferObject = ToDoItemAdminEditModel.ToToDoItemAdminDataTransferObject(toDoItemAdminEditModel);

        if (Id.Equals(Guid.Empty))
        {
            var newToDoItemAdminDataTransferObject = await ToDoItemAdminService.AddAsync(userName, toDoItemAdminDataTransferObject);

            if (newToDoItemAdminDataTransferObject == null)
            {
                return;
            }

            NavigationManager.NavigateTo($"/admin/to-do-item-edit/{newToDoItemAdminDataTransferObject.Id}");
        }
        else
        {
            await ToDoItemAdminService.EditAsync(userName, Id, toDoItemAdminDataTransferObject);
        }
    }

    async Task Delete()
    {
        if (Id.Equals(Guid.Empty))
        {
            return;
        }

        var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var userName = authState.User.Identity?.Name!;

        if (userName == null)
        {
            return;
        }

        await ToDoItemAdminService.DeleteAsync(userName, Id);
        NavigationManager.NavigateTo($"/admin/to-do-item-list");
    }

    @* OnChangeCodePlaceholder *@
}
