@page "/admin/to-do-item/edit/{ToDoItemId:guid}"
@rendermode InteractiveServer
@implements IDisposable
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager Navigation
@inject IPageHelper PageHelper
@inject EditSuccess EditSuccessState

<PageTitle>To Do Item Edit</PageTitle>

@if (ToDoItem is null && !Busy)
{
    <p>Could not find To Do Item with id @ToDoItemId.</p>
}
else
{
    <ToDoItemForm Busy="Busy" 
                 ToDoItem="ToDoItem" 
                 DbToDoItem="DbToDoItem" 
                 IsAdd="false" 
                 CancelRequest="Cancel" 
                 ValidationResult="@(async (success) => await ValidationResultAsync(success))" />
}

@if (ConcurrencyError)
{
    <br />
    <div class="alert alert-danger">
        <p>
            The To Do Item details have changed since it was last loaded. The updated fields are highlighted in the form.
            Please choose an option:
        </p>
        <p><b>Cancel</b> to lose your changes and keep the database version.</p>
        <p><b>Submit</b> to force an update with your version.</p>
    </div>
}

@if (Error)
{
    <br />
    <div class="alert alert-danger">Failed to update the To Do Item (@ErrorMessage).</div>
}

@code {
    [Parameter]
    public Guid ToDoItemId { get; set; }

    private ApplicationDbContext? Context { get; set; }

    private ToDoItem ToDoItem { get; set; } = new ToDoItem();

    private ToDoItem DbToDoItem { get; set; } = new ToDoItem();

    private bool Busy;

    private bool Error;

    private bool ConcurrencyError;

    private string ErrorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Busy = true;

        try
        {
            Context = DbFactory.CreateDbContext();

            if (Context is not null && Context.ToDoItems is not null)
            {
                var toDoItem = await Context.ToDoItems.SingleOrDefaultAsync(x => x.Id == ToDoItemId);

                if (toDoItem is not null)
                {
                    ToDoItem = toDoItem;
                }
            }
        }
        finally
        {
            Busy = false;
        }
    }

    private async Task ValidationResultAsync(bool success)
    {
        if (Busy)
        {
            return;
        }

        if (!success)
        {
            Error = false;
            ConcurrencyError = false;
            return;
        }

        Busy = true;
        try
        {
            if (Context is not null)
            {
                await Context.SaveChangesAsync();
            }

            EditSuccessState.Success = true;
            Navigation.NavigateTo($"/admin/to-do-item/view/{ToDoItem.Id}");
        }
        catch (DbUpdateConcurrencyException dbex)
        {
            EditSuccessState.Success = false;

            ConcurrencyError = true;

            var dbValues = dbex.Entries[0].GetDatabaseValues();

            if (dbValues is null)
            {
                Navigation.NavigateTo($"/admin/to-do-item/view/{ToDoItem.Id}");
                return;
            }

            DbToDoItem = (ToDoItem)dbValues.ToObject();

            dbex.Entries[0].OriginalValues.SetValues(dbValues);
            Error = false;
            Busy = false;
        }
        catch (Exception ex)
        {
            EditSuccessState.Success = false;
            Error = true;
            ErrorMessage = ex.Message;
            Busy = false;
        }
    }

    private void Cancel()
    {
        Busy = true;
        Navigation.NavigateTo($"/admin/to-do-item/{PageHelper.Page}");
    }

    public void Dispose() => Context?.Dispose();
}
