nav {
    background-color: rgb(50, 93, 136);
}

.navbar-brand {
    color: rgb(255, 255, 255);
}

nav .nav-link {
    color: rgb(255, 255, 255);
}

nav .nav-link:hover {
    color: rgb(200, 200, 200);
}

a.nav-link {
    text-decoration: underline;
}

a.nav-link.active {
    text-decoration: none;
}

.validation-message {
    color: rgb(255, 0, 0)
}
