@page "/admin/application-role-list"
@inject IAdminApplicationRoleService AdminApplicationRoleService
@attribute [StreamRendering]

<section>
    <h1>Application Role List</h1>
    <article>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (applicationRoles == null)
                {
                    <tr>
                        <td colspan="3">Loading...</td>
                    </tr>
                }
                else if (applicationRoles.Count == 0)
                {
                    <tr>
                        <td colspan="3">No application roles found.</td>
                    </tr>
                }
                else
                {
                    @foreach (var applicationRole in applicationRoles)
                    {
                        <tr>
                            <td>@applicationRole.Id</td>
                            <td>@applicationRole.Name</td>
                            <td>
                                @if (applicationRole.Id != null)
                                {
                                    <NavButton Href="@("/admin/application-role-edit/" + applicationRole.Id)" Name="Edit" />
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <NavButton Href="/admin/application-role-edit" Name="Create" />
    </article>
</section>

@code {
    List<ApplicationRole>? applicationRoles = null;

    protected override async Task OnInitializedAsync()
    {
        applicationRoles = await AdminApplicationRoleService.GetAllAsync();
    }
}
