@page "/admin/to-do-list-list"
@rendermode InteractiveServer
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject IToDoListAdminRepository ToDoListAdminRepository
@attribute [StreamRendering]
@attribute [Authorize(Roles = "Admin")]

<PageTitle>To Do List List</PageTitle>

<section>
  <h1>To Do List List</h1>
  <article>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Id</th>

          <th scope="col">Title</th>
              @* ListHeaderCodePlaceholder *@

          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @if (toDoLists == null)
        {
          <tr>
            <td colspan="3">Loading...</td>
            @* LoadingCountCodePlaceholder *@
          </tr>
        }
        else if (toDoLists.Count == 0)
        {
          <tr>
            @* ZeroCountCodePlaceholder *@
          </tr>
        }
        else
        {
          @foreach (var toDoList in toDoLists)
          {
            <tr>
              <td>@toDoList.Id</td>

              <td>@toDoList?.Title</td>
              @* ListItemCodePlaceholder *@

              <td>
                <a href="@("/admin/to-do-list-edit/" + toDoList?.Id)">Edit</a>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
    <a href="/admin/to-do-list-edit">Create</a>
  </article>
</section>

@code {
  List<ToDoListAdminDto>? toDoLists = null;

  protected override async Task OnInitializedAsync()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    toDoLists = await ToDoListAdminRepository.GetAllAsync(userName);
  }
}
