@page "/admin/to-do-list-list"
@rendermode InteractiveServer
@inject IToDoListAdminService ToDoListAdminService
@attribute [StreamRendering]

<section>
    <h1>To Do List List</h1>
    <article>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    @* ListHeaderCodePlaceholder *@
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (toDoLists == null)
                {
                    <tr>
                        <td colspan="3">Loading...</td>
                        @* LoadingCountCodePlaceholder *@
                    </tr>
                }
                else if (toDoLists.Count == 0)
                {
                    <tr>
                        <td colspan="3">No to do lists found.</td>
                        @* ZeroCountCodePlaceholder *@
                    </tr>
                }
                else
                {
                    @foreach (var toDoList in toDoLists)
                    {
                        <tr>
                            <td>@toDoList.Id</td>
                            <td>@toDoList.Title</td>
                            @* ListItemCodePlaceholder *@
                            <td>
                                <NavLink Href="@("/admin/to-do-list-edit/" + toDoList.Id)">Edit</NavLink>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <NavLink Href="/admin/to-do-list-edit">Create</NavLink>
    </article>
</section>

@code {
    List<ToDoListAdminDataTransferObject>? toDoLists = null;

    protected override async Task OnInitializedAsync()
    {
        toDoLists = await ToDoListAdminService.GetAllAsync();
    }
}
