@page "/admin/UrlNamePlaceholder-list"
@inject IToDoItemAdminService ToDoItemAdminService
@attribute [StreamRendering]

<section>
    <h1>HumanNamePlaceholder List</h1>
    <article>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    @* <th scope="col">PropertyNamePlaceholder</th> *@
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (ToDoItems == null)
                {
                    <tr>
                        @* <td colspan="CountPlaceHolder">Loading...</td> *@
                    </tr>
                }
                else if (ToDoItems.Count == 0)
                {
                    <tr>
                        @* <td colspan="CountPlaceHolder">No HumanLowerToDoItems found.</td> *@
                    </tr>
                }
                else
                {
                    @foreach (var LowercaseNamePlaceholder in ToDoItems)
                    {
                        <tr>
                            <td>@LowercaseNamePlaceholder.Id</td>
                            @* <td>@LowercaseNamePlaceholder.PropertyNamePlaceholder</td> *@
                            <td>
                                <NavButton Href="@("/admin/UrlNamePlaceholder-edit/" + LowercaseNamePlaceholder.Id)" Name="Edit" />
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <NavButton Href="/admin/UrlNamePlaceholder-edit" Name="Create" />
    </article>
</section>

@code {
    List<ToDoItem>? ToDoItems = null;

    protected override async Task OnInitializedAsync()
    {
        ToDoItems = await ToDoItemAdminService.GetAllAsync();
    }
}
