@inherits LayoutComponentBase

<Header />
<div class="container-fluid">
  <div class="row flex-nowrap">
    <AuthorizeView>
        <Authorized>
          <SideBar />
          <main class="ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              @Body
            </div>
          </main>
        </Authorized>
        <NotAuthorized>
          <main class="ms-sm-auto px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              @Body
            </div>
          </main>
        </NotAuthorized>
    </AuthorizeView>
  </div>
</div>
