@page "/todolists/create"
@using Microsoft.EntityFrameworkCore
@using Intrepion.ToDo.BusinessLogic.Entities
@inject IDbContextFactory<Intrepion.ToDo.BusinessLogic.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>ToDoList</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="ToDoList" OnValidSubmit="AddToDoList" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label> 
                <InputText id="title" @bind-Value="ToDoList.Title" class="form-control" /> 
                <ValidationMessage For="() => ToDoList.Title" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="normalizedtitle" class="form-label">NormalizedTitle:</label> 
                <InputText id="normalizedtitle" @bind-Value="ToDoList.NormalizedTitle" class="form-control" /> 
                <ValidationMessage For="() => ToDoList.NormalizedTitle" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/todolists">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private ToDoList ToDoList { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddToDoList()
    {
        using var context = DbFactory.CreateDbContext();
        context.ToDoLists.Add(ToDoList);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/todolists");
    }
}
