@page "/todolists"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Intrepion.ToDo.BusinessLogic.Entities
@using Intrepion.ToDo.BusinessLogic.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Intrepion.ToDo.BusinessLogic.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="todolists/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.ToDoLists">
    <PropertyColumn Property="todolist => todolist.Title" />
    <PropertyColumn Property="todolist => todolist.NormalizedTitle" />

    <TemplateColumn Context="todolist">
        <a href="@($"todolists/edit?id={todolist.Id}")">Edit</a> |
        <a href="@($"todolists/details?id={todolist.Id}")">Details</a> |
        <a href="@($"todolists/delete?id={todolist.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
